@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles can be added below */
body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}